html {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* 来自 Google Font的字体 */
    background-color: #9dbdf4;
}

body {
    margin: 0 auto;
    padding: 20px;
    background-color: #e9c49f;
    padding: 0 auto 20px 20px;
    border: 5px solid black;
}

header {
    padding: 10px;
    text-decoration: underline dotted #de38ff;
}

#menu {
    background-color: #e8d297;
    text-align: center;
    padding: 10px;
    font-size: x-large;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

a[href="https://kaipol.github.io"]
{
    color: #0000ff;
    font-size: x-large;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}

/*id=first-paragraph的样式*/
#first-paragraph {
    text-shadow: 2px 2px 2px #716f6f;
    color: red;
    width: 300px;
    border: thick double #32a122;
    border-width: 12px;
}

/* .class-1类的样式 */
.class-1::first-line {
    /* 设置文本颜色为红色 */
    color: red;
    /* 设置宽度为300px */
    width: 300px;
    /* 设置双线边框，颜色为#32a122，宽度为12px */
    border: thick double #32a122;
    border-width: 12px;
}

/*li元素样式*/
ul > li {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

/*后代选择器*/
li strong {
    color: #ff0000;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 5px;
}

/*为cube添加旋转动画*/
#cube {
    position: relative;
    transform-style: preserve-3d;
    animation: spin 20s linear infinite;
}

#cube > div {
    position: absolute;
    transform-style: preserve-3d;
}

@keyframes spin {
    from {
        transform: rotateX(-0.1turn) rotateY(0turn);
    }
    to {
        transform: rotateX(-0.1turn) rotateY(1turn);
    }
}
